
input{
    border: .1em solid var(--bs-dark) !important;
}



/* #table_Bouche input,#table_Entree input,#table_Extracteur input #table_Solution input{
    max-width: 5vw;
    display: inline;
} */

/* #table_entrees input{
    max-width: 5vw;
    display: inline;
} */

