.container {
    display: grid; 
    grid-template-columns: 0.5fr 1.5fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0%; 
    grid-template-areas: 
    "nav content"; 
    border: 1px solid var(--bs-blue);

}

.nav { 
    grid-area: nav; 
}

.content { 
    grid-area: content; 
}

fieldset.Liste_AT_Ancien {
    border: 1px groove #ddd !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

input{
    display: inline-block;
    width: 100%;
}

.AT{
    border: 1px solid var(--bs-blue);
    margin-bottom: 1em;
}

.tab-pane{
    padding: 2em;
}
